<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Service (:</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-5 text-center">
          <br/>
          <br/>
          <h1>
            Timestamp Microservice
          </h1>
          <p>
            <a href="https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/timestamp-microservice">Free Code Camp's</a> <b>APIs and Microservices Certificate</b> project 1 of 5:
            <br/>
            Convert time to and from unix or "natural" dates. 
            <br/>
            By <a href="https://alex-cannon.github.io/">Alex Cannon</a>
          </p>
          <p>
            See the <a href="https://github.com/Alex-Cannon/Timestamp-Microservice">Source Code</a> on GitHub.
          </p>
          <br/>
          <h2>
            Example Usage:
          </h2>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="/api/timestamp/">GET /api/timestamp</a>
              <br/>
              <br/>
              <h5>
                Expected Response:
              </h5>
              <i>{"unix": "NOW_IN_UNIX","natural": "NOW_IN_UTC"}</i>
            </li>
            <li class="list-group-item">
              <a href="/api/timestamp/2020-09-12">GET /api/timestamp/2020-09-12</a>
              <br/>
              <br/>
              <h5>
                Expected Response:
              </h5>
              <i>{ "unix": 1599868800000, "natural": "Wed Dec 09 2020 00:00:00 GMT+0000 (UTC)" }</i>
            </li>
            <li class="list-group-item">
              <a href="/api/timestamp/1599868800000">GET /api/timestamp/1599868800000</a>
              <br/>
              <br/>
              <h5>
                Expected Response:
              </h5>
              <i>{ "unix": 1599868800000, "natural": "Wed Dec 09 2020 00:00:00 GMT+0000 (UTC)" }</i>
            </li>
            <li class="list-group-item">
              <a href="/api/timestamp/INVALID_DATE_STRING">GET /api/timestamp/INVALID_DATE_STRING</a>
              <br/>
              <br/>
              <h5>
                Expected Response:
              </h5>
              <i>"Bad Request. Please use a valid date string."</i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
