<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Service (:</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 text-center">
          <br/>
          <br/>
          <h1>
            Timestamp Microservice
          </h1>
          <p>
            <a href="https://www.freecodecamp.org">Free Code Camp's</a> <b>APIs and Microservices Certificate</b> project 1 of 5:
            <br/>
            Convert time to and from unix or "natural" dates. 
            <br/>
            By <a href="https://github.com/Alex-Cannon">Alex Cannon</a>
          </p>
          <p>
            See the <a href="https://github.com/Alex-Cannon/Timestamp-Microservice">Source Code</a> on GitHub.
          </p>
          <br/>
          <h2>
            Example Usage:
          </h2>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="/api/September 12, 2020">GET /api/September 12, 2020</a>
              <br/>
              <br/>
              <h5>
                Expected Response:
              </h5>
              <i>{"unix":1599868800000,"natural":"September 12, 2020"}</i>
            </li>
            <li class="list-group-item">
              <a href="/api/1599868800000">GET /api/1599868800000</a>
              <br/>
              <br/>
              <h5>
                Expected Response:
              </h5>
              <i>{"unix":1599868800000,"natural":"September 12, 2020"}</i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
